APP_NAME=ControlEEVacantes
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

#Configuracion para AzureSQL (BD ONLINE)
#DB_CONNECTION=sqlsrv
#DB_HOST=serverdgaaea.database.windows.net
#DB_PORT=1433
#DB_DATABASE=controleevacantes
#DB_USERNAME=serviciosocial
#DB_PASSWORD=SerUV123/

#Configuracion para BD Local
DB_CONNECTION=sqlsrv
DB_HOST=127.0.0.1
DB_PORT=1433
DB_DATABASE=controleevacantes
DB_USERNAME=sa
DB_PASSWORD=12345678

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
#QUEUE_CONNECTION=redis
SESSION_DRIVER=database
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379
#REDIS_CLIENT=predis

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USERNAME=dgaaeauv.proyecto@gmail.com
MAIL_PASSWORD=rxzcokclyqpqgzsn
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="dgaaeauv.proyecto@gmail.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

#Configuracion para Azure Storage
AZURE_STORAGE_NAME=filesdgaaea
AZURE_STORAGE_KEY=gpF1+9NlXJo67GfxjzXXCO42VzvlVPZOBlFITJ1CVyu/DDsVjF0wCHMn8m94KToMH7YCaYJB1ofH+AStLqm7zA==
AZURE_STORAGE_CONTAINER=files
AZURE_STORAGE_URL=https://filesdgaaea.blob.core.windows.net/
AZURE_STORAGE_PREFIX=
AZURE_SIGNING_URL=
AZURE_SIGNING_URL_PERMISSION=rwd
